
{% extends 'poc/base.html' %}
{% block contents %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Stream {{ stream.id }}</h5>
                        
                        <a href="{{ stream.link }}" class="d-block mb-3">{{ stream.link }}</a>

                        <a href="{{ stream.link }}" class="btn btn-primary">View Stream</a>
                    </div>
                </div>
                
            </div>
            <div class="col-12 mt-5">
                <h4>Stream Results</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Key</th>
                            <th scope="col">Layout</th>
                            <th scope="col">Type</th>
                            <th scope="col">Title</th>
                            <th scope="col">Subtitle</th>
                            <th scope="col">Url</th>
                        </tr>
                    </thead>
                    <tbody id="stream_results">
                        {% for i in streams %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ i.key }}</td>
                            <td>{{ i.layout }}</td>
                            <td>{{ i.type }}</td>
                            <td>{{ i.title }}</td>
                            <td>{{ i.subtitle }}</td>
                            <td>{{ i.url }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


                {% if streams.count <= 0 %}
                    <h3 class='empty_results'>There are no results yet!</h3>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{{ room_name|json_script:"room-name" }}

{% endblock contents %}